# Credenciales de Base de Datos PostgreSQL
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña_segura
POSTGRES_DB=nombre_de_bd

# pgAdmin
PGADMIN_DEFAULT_EMAIL=tu_correo@ejemplo.com
PGADMIN_DEFAULT_PASSWORD=tu_contraseña_segura
